In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('CleanFileWithScore.csv')

df.shape

(8708, 51)

In [2]:
df.columns

Index(['Unnamed: 0', 'Bedrooms', 'Baths', 'Latitude', 'Longitude',
       '24-hour security', 'Alarm System', 'Badminton court', 'Bar',
       'Basketball court', 'Billiards table', 'CCTV', 'Clinic', 'Clubhouse',
       'Daycare Center', 'Drying Area', 'Elevators', 'Fire sprinkler system',
       'Gazebo', 'Golf Area', 'Helipad', 'Intercom', 'Jacuzzi', 'Laundry Area',
       'Playground', 'Pond', 'Pool bar', 'Sauna', 'Shower rooms', 'Sky lounge',
       'Smoke detector', 'Spa', 'Swimming pool', 'Tennis court', 'Theater',
       'mall_count_less1', 'hosp_count_less1', 'school_count_less1',
       'resto_count_less1', 'bank_count_less1', 'Fitness_Sports Center',
       'Multi-Purpose Area', 'Parking Area', 'Entertainment_Game Room',
       'Study Area_Library', 'Business Center_Shops',
       'Open Space_Parks_Garden_Jogging Path', 'Reception_Lobby_Lounge',
       'ZipScore', 'Cities_Num', 'PricePerSQM'],
      dtype='object')

In [3]:
df.head()

,Unnamed: 0,Bedrooms,Baths,Latitude,Longitude,24-hour security,Alarm System,Badminton court,Bar,Basketball court,...,Multi-Purpose Area,Parking Area,Entertainment_Game Room,Study Area_Library,Business Center_Shops,Open Space_Parks_Garden_Jogging Path,Reception_Lobby_Lounge,ZipScore,Cities_Num,PricePerSQM
0,0,3.0,4.0,14.562949,121.036339,1,1,1,0,1,...,1,1,0,0,1,1,1,7.1,0,360000.000000
1,2,3.0,4.0,14.562949,121.036339,1,1,1,0,1,...,1,1,0,0,1,1,1,7.1,0,365000.000000
2,5,1.0,1.0,14.566278,121.037021,1,0,0,0,0,...,1,1,0,0,1,1,1,7.1,0,296875.000000
3,6,3.0,4.0,14.566278,121.037021,1,1,0,0,0,...,1,1,0,0,1,1,1,7.1,0,336322.869955
4,7,3.0,3.0,14.566646,121.039043,1,1,0,0,0,...,1,1,0,0,1,1,1,7.0,0,333333.333333

In [4]:
df_final = df.drop(['Unnamed: 0', 'ZipScore'], 1)
df_target = df[['ZipScore']].copy()

In [5]:
df_final.head()

,Bedrooms,Baths,Latitude,Longitude,24-hour security,Alarm System,Badminton court,Bar,Basketball court,Billiards table,...,Fitness_Sports Center,Multi-Purpose Area,Parking Area,Entertainment_Game Room,Study Area_Library,Business Center_Shops,Open Space_Parks_Garden_Jogging Path,Reception_Lobby_Lounge,Cities_Num,PricePerSQM
0,3.0,4.0,14.562949,121.036339,1,1,1,0,1,1,...,1,1,1,0,0,1,1,1,0,360000.000000
1,3.0,4.0,14.562949,121.036339,1,1,1,0,1,1,...,1,1,1,0,0,1,1,1,0,365000.000000
2,1.0,1.0,14.566278,121.037021,1,0,0,0,0,0,...,1,1,1,0,0,1,1,1,0,296875.000000
3,3.0,4.0,14.566278,121.037021,1,1,0,0,0,0,...,1,1,1,0,0,1,1,1,0,336322.869955
4,3.0,3.0,14.566646,121.039043,1,1,0,0,0,0,...,1,1,1,0,0,1,1,1,0,333333.333333

In [6]:
df_target.head()

   ZipScore
0       7.1
1       7.1
2       7.1
3       7.1
4       7.0

In [7]:
df_data = df_final.copy()
df_data.shape

(8708, 49)

In [8]:
# Separate data between the dependent and independent variables

from sklearn.model_selection import train_test_split

targ_var = df_target
ind_var = df_data

X_train, X_test, y_train, y_test = train_test_split(ind_var, targ_var, random_state=30)

In [9]:
ind_var.head()

,Bedrooms,Baths,Latitude,Longitude,24-hour security,Alarm System,Badminton court,Bar,Basketball court,Billiards table,...,Fitness_Sports Center,Multi-Purpose Area,Parking Area,Entertainment_Game Room,Study Area_Library,Business Center_Shops,Open Space_Parks_Garden_Jogging Path,Reception_Lobby_Lounge,Cities_Num,PricePerSQM
0,3.0,4.0,14.562949,121.036339,1,1,1,0,1,1,...,1,1,1,0,0,1,1,1,0,360000.000000
1,3.0,4.0,14.562949,121.036339,1,1,1,0,1,1,...,1,1,1,0,0,1,1,1,0,365000.000000
2,1.0,1.0,14.566278,121.037021,1,0,0,0,0,0,...,1,1,1,0,0,1,1,1,0,296875.000000
3,3.0,4.0,14.566278,121.037021,1,1,0,0,0,0,...,1,1,1,0,0,1,1,1,0,336322.869955
4,3.0,3.0,14.566646,121.039043,1,1,0,0,0,0,...,1,1,1,0,0,1,1,1,0,333333.333333

In [10]:
targ_var.head()

   ZipScore
0       7.1
1       7.1
2       7.1
3       7.1
4       7.0

In [16]:
from sklearn.linear_model import ElasticNet, Lasso
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor,BaggingRegressor,AdaBoostRegressor
from sklearn.svm import LinearSVR
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import RFE, SelectFromModel
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error
import warnings
warnings.filterwarnings('ignore')
regressors = {
    "lasso":Lasso(),
    "enet":ElasticNet(),
    "rfreg":RandomForestRegressor(),
    "lgbreg":LGBMRegressor(),
    "xgbreg":XGBRegressor(objective ='reg:squarederror'),
    "adbreg":AdaBoostRegressor(base_estimator = XGBRegressor(objective = 'reg:squarederror')),
    "breg":BaggingRegressor(base_estimator = XGBRegressor(objective = 'reg:squarederror'))
}
no_regressors = len(regressors.keys())
#models_to_train = [lasso,ridge,enet,rfreg,lsvr,gbreg,xgbreg]

In [17]:
# Defining the hyperparameters to optimize
grids = dict(lgrid = { # Lasso
        'rgs__alpha':[0.1,0.11,0.12,0.09],
        'rgs__normalize':[True,False],
        'rgs__precompute':[True,False],
        'rgs__max_iter':[500,1000,1500]},
    egrid = { #Elastic Net
        'rgs__alpha':[0.001,0.0001,0.0002,0.00001],
        'rgs__normalize':[True, False],
        'rgs__tol':[0.00001,0.000001,0.000001],
        'rgs__selection':['cyclic','random']},
    rfgrid = { #Random Forest
        'rgs__max_depth':[9, 11, 13, 15], 
        'rgs__n_estimators':[250,300,350,400],
        'rgs__max_features':[8,10,12,14,16]},
    lgbgrid = { #Light Gradient Boosting
        'rgs__learning_rate':[0.1,0.01,0.002,0.001],
        'rgs__n_estimators':[500,600,700,800],
        'rgs__max_depth':[3,5,6,7]},
    xgbgrid = { #XGBoost
        'rgs__colsample_bytree': [0.3, 0.2, 0.1],
        'rgs__n_estimators': [100,125,150,200],
        'rgs__max_depth': [4, 5,6 ,7 ],
        'rgs__eta': [0.001,0.01,0.1]},
    adbgrid ={ #Adaboost
        'rgs__n_estimators':[50,100,150],
        'rgs__learning_rate':[0.1,0.01,0.02,0.011],
        'rgs__loss':['linear','square']},
    bgrid = { #Bagging
        'rgs__n_estimators':[12,24,48,50],
        'rgs__max_features':[20,25,30,35],
        'rgs__bootstrap_features':[True,False]},
) 
#LGBMRegressor()

In [28]:
def batch_regress(X_train, y_train, X_test, y_test, verbose = True):
    df_results = pd.DataFrame(data=np.zeros(shape=(no_regressors,3)), columns = ['regressor','RMSE','R2'])
    count = 0
    #count2 = 0
    scorers = {'R2': 'r2','nmse': 'neg_mean_squared_error'}
    for key, regressor in regressors.items():
        for key2, grid in grids.items():
            scaler = StandardScaler()
            #selector = RFE(regressor, n_features_to_select = 20, step = 2)
            pipe = Pipeline([('scale',scaler), ('rgs',regressor)])#scale and apply the regressor
            if key is 'lasso' and key2 is 'lgrid':
                print(key,key2)
                rand_search = GridSearchCV(pipe, param_grid=grid, scoring=scorers,cv=5, verbose=1, n_jobs=-1, refit='nmse')
                rand_search.fit(X_train, y_train)
                #RMSE = np.sqrt(np.abs(rand_search.cv_results_['mean_test_nmse']))
                #R2 = np.sqrt(np.abs(rand_search.cv_results_['mean_test_R2']))
                count +=1
                print("Best parameters found: ", rand_search.best_params_)
                print("Lowest Train RMSE found: ", np.sqrt(np.abs(rand_search.best_score_)))
                #print("Lowest Train RMSE found: ", np.sqrt(np.abs(rand_search.cv_results_['mean_test_nmse'])))
                #print("Lowest Train R2 found: ", np.sqrt(np.abs(rand_search.cv_results_['mean_test_R2'])))
                preds = rand_search.best_estimator_.predict(X_test)
                test_rmse = np.sqrt(mean_squared_error(y_test, preds))
                test_r2 = r2_score(y_test, preds)
                df_results.loc[count,'regressor'] = key
                df_results.loc[count,'RMSE'] = test_rmse
                df_results.loc[count,'R2'] = test_r2
                print("Test RMSE found: ", test_rmse)
                print("Test R2 found: ", test_r2)
            
            elif key is 'enet' and key2 is 'egrid':
                print(key,key2)
                rand_search = GridSearchCV(pipe, param_grid=grid, scoring=scorers,cv=5, verbose=1, n_jobs=-1, refit='nmse')
                rand_search.fit(X_train, y_train)
                #RMSE = np.sqrt(np.abs(rand_search.cv_results_['mean_test_nmse']))
                #R2 = np.sqrt(np.abs(rand_search.cv_results_['mean_test_R2']))
                count +=1
                print("Best parameters found: ", rand_search.best_params_)
                print("Lowest Train RMSE found: ", np.sqrt(np.abs(rand_search.best_score_)))
                #print("Lowest Train RMSE found: ", np.sqrt(np.abs(rand_search.cv_results_['mean_test_nmse'])))
                #print("Lowest Train R2 found: ", np.sqrt(np.abs(rand_search.cv_results_['mean_test_R2'])))
                preds = rand_search.best_estimator_.predict(X_test)
                test_rmse = np.sqrt(mean_squared_error(y_test, preds))
                test_r2 = r2_score(y_test, preds)
                df_results.loc[count,'regressor'] = key
                df_results.loc[count,'RMSE'] = test_rmse
                df_results.loc[count,'R2'] = test_r2
                print("Test RMSE found: ", test_rmse)
                print("Test R2 found: ", test_r2)
            
            elif key is 'rfreg' and key2 is 'rfgrid':
                print(key,key2)
                rand_search = GridSearchCV(pipe, param_grid=grid, scoring=scorers,cv=5, verbose=1, n_jobs=-1, refit='nmse')
                rand_search.fit(X_train, y_train)
                #RMSE = np.sqrt(np.abs(rand_search.best_score_))
                #df_results.loc[count,'regressor'] = key
                #df_results.loc[count,'RMSE'] = RMSE
                count +=1
                print("Best parameters found: ", rand_search.best_params_)
                print("Lowest Train RMSE found: ", np.sqrt(np.abs(rand_search.best_score_)))
                preds = rand_search.best_estimator_.predict(X_test)
                test_rmse = np.sqrt(mean_squared_error(y_test, preds))
                test_r2 = r2_score(y_test, preds)
                df_results.loc[count,'regressor'] = key
                df_results.loc[count,'RMSE'] = test_rmse
                df_results.loc[count,'R2'] = test_r2
                print("Test RMSE found: ", test_rmse)
                print("Test R2 found: ", test_r2)
            
            elif key is 'lgbreg' and key2 is 'lgbgrid':
                print(key,key2)
                rand_search = GridSearchCV(pipe, param_grid=grid, scoring=scorers,cv=5, verbose=1, n_jobs=-1, refit='nmse')
                rand_search.fit(X_train, y_train)
                #RMSE = np.sqrt(np.abs(rand_search.best_score_))
                #df_results.loc[count,'regressor'] = key
                #df_results.loc[count,'RMSE'] = RMSE
                count +=1
                print("Best parameters found: ", rand_search.best_params_)
                print("Lowest Train RMSE found: ", np.sqrt(np.abs(rand_search.best_score_)))
                preds = rand_search.best_estimator_.predict(X_test)
                test_rmse = np.sqrt(mean_squared_error(y_test, preds))
                test_r2 = r2_score(y_test, preds)
                df_results.loc[count,'regressor'] = key
                df_results.loc[count,'RMSE'] = test_rmse
                df_results.loc[count,'R2'] = test_r2
                print("Test RMSE found: ", test_rmse)
                print("Test R2 found: ", test_r2)
            
            elif key is 'xgbreg' and key2 is 'xgbgrid':
                print(key,key2)           
                rand_search = GridSearchCV(pipe, param_grid=grid, scoring=scorers,cv=5, verbose=1, n_jobs=-1, refit='nmse')
                rand_search.fit(X_train, y_train)
                #RMSE = np.sqrt(np.abs(rand_search.best_score_))
                #df_results.loc[count,'regressor'] = key
                #df_results.loc[count,'RMSE'] = RMSE
                count +=1
                print("Best parameters found: ", rand_search.best_params_)
                print("Lowest Train RMSE found: ", np.sqrt(np.abs(rand_search.best_score_)))
                preds = rand_search.best_estimator_.predict(X_test)
                test_rmse = np.sqrt(mean_squared_error(y_test, preds))
                test_r2 = r2_score(y_test, preds)
                df_results.loc[count,'regressor'] = key
                df_results.loc[count,'RMSE'] = test_rmse
                df_results.loc[count,'R2'] = test_r2
                print("Test RMSE found: ", test_rmse)
                print("Test R2 found: ", test_r2)
            
            elif key is 'adbreg' and key2 is 'adbgrid':
                print(key,key2)
                rand_search = GridSearchCV(pipe, param_grid=grid, scoring=scorers,cv=5, verbose=1, n_jobs=-1,refit='nmse')
                rand_search.fit(X_train, y_train)
                #RMSE = np.sqrt(np.abs(rand_search.best_score_))
                #df_results.loc[count,'regressor'] = key
                #df_results.loc[count,'RMSE'] = RMSE
                count +=1
                print("Best parameters found: ", rand_search.best_params_)
                print("Lowest Train RMSE found: ", np.sqrt(np.abs(rand_search.best_score_)))
                preds = rand_search.best_estimator_.predict(X_test)
                test_rmse = np.sqrt(mean_squared_error(y_test, preds))
                test_r2 = r2_score(y_test, preds)
                df_results.loc[count,'regressor'] = key
                df_results.loc[count,'RMSE'] = test_rmse
                df_results.loc[count,'R2'] = test_r2
                print("Test RMSE found: ", test_rmse)
                print("Test R2 found: ", test_r2)
            
            elif key is 'breg' and key2 is 'bgrid':
                print(key,key2)           
                rand_search = GridSearchCV(pipe, param_grid=grid, scoring=scorers,cv=5, verbose=1, n_jobs=-1,refit='nmse')
                rand_search.fit(X_train, y_train)
                #RMSE = np.sqrt(np.abs(rand_search.best_score_))
                #df_results.loc[count,'regressor'] = key
                #df_results.loc[count,'RMSE'] = RMSE
                count +=1
                print("Best parameters found: ", rand_search.best_params_)
                print("Lowest Train RMSE found: ", np.sqrt(np.abs(rand_search.best_score_)))
                preds = rand_search.best_estimator_.predict(X_test)
                test_rmse = np.sqrt(mean_squared_error(y_test, preds))
                test_r2 = r2_score(y_test, preds)
                df_results.loc[count,'regressor'] = key
                df_results.loc[count,'RMSE'] = test_rmse
                df_results.loc[count,'R2'] = test_r2
                print("Test RMSE found: ", test_rmse)
                print("Test R2 found: ", test_r2)
            else:
                pass
    return df_results

In [29]:
df_results = batch_regress(X_train, y_train, X_test, y_test)
df_results)

lasso lgrid
Fitting 5 folds for each of 48 candidates, totalling 240 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done 225 out of 240 | elapsed:    4.0s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 240 out of 240 | elapsed:    4.1s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Best parameters found:  {'rgs__alpha': 0.09, 'rgs__max_iter': 500, 'rgs__normalize': False, 'rgs__precompute': False}
Lowest Train RMSE found:  0.5794622042862134
Test RMSE found:  0.5823823216823055
Test R2 found:  0.04279367951807522
enet egrid
Fitting 5 folds for each of 48 candidates, totalling 240 fits

[Parallel(n_jobs=-1)]: Done  52 tasks      | elapsed:    0.8s
[Parallel(n_jobs=-1)]: Done 240 out of 240 | elapsed:    3.9s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Best parameters found:  {'rgs__alpha': 0.0002, 'rgs__normalize': True, 'rgs__selection': 'random', 'rgs__tol': 1e-05}
Lowest Train RMSE found:  0.5559819338784271
Test RMSE found:  0.5641304987850022
Test R2 found:  0.10185108346177751
rfreg rfgrid
Fitting 5 folds for each of 80 candidates, totalling 400 fits

[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   17.2s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 400 out of 400 | elapsed:  5.7min finished

Best parameters found:  {'rgs__max_depth': 15, 'rgs__max_features': 16, 'rgs__n_estimators': 300}
Lowest Train RMSE found:  0.388695337210388
Test RMSE found:  0.3992650175523529
Test R2 found:  0.5501044357600307
lgbreg lgbgrid
Fitting 5 folds for each of 64 candidates, totalling 320 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   12.9s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 320 out of 320 | elapsed:  2.5min finished

Best parameters found:  {'rgs__learning_rate': 0.1, 'rgs__max_depth': 6, 'rgs__n_estimators': 600}
Lowest Train RMSE found:  0.39397005999727647
Test RMSE found:  0.4089645439355464
Test R2 found:  0.5279798855425084
xgbreg xgbgrid
Fitting 5 folds for each of 144 candidates, totalling 720 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    8.0s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:   38.1s
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 720 out of 720 | elapsed:  2.0min finished

Best parameters found:  {'rgs__colsample_bytree': 0.3, 'rgs__eta': 0.1, 'rgs__max_depth': 7, 'rgs__n_estimators': 200}
Lowest Train RMSE found:  0.3920039119961083
Test RMSE found:  0.39989147694243915
Test R2 found:  0.5486915275546229
adbreg adbgrid
Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed: 31.5min
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed: 125.8min finished

Best parameters found:  {'rgs__learning_rate': 0.01, 'rgs__loss': 'square', 'rgs__n_estimators': 100}
Lowest Train RMSE found:  0.3802952756679991
Test RMSE found:  0.392566724776809
Test R2 found:  0.5650732095178221
breg bgrid
Fitting 5 folds for each of 32 candidates, totalling 160 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:  6.8min
[Parallel(n_jobs=-1)]: Done 160 out of 160 | elapsed: 33.8min finished

Best parameters found:  {'rgs__bootstrap_features': False, 'rgs__max_features': 35, 'rgs__n_estimators': 50}
Lowest Train RMSE found:  0.38134519655430704
Test RMSE found:  0.39359919900609713
Test R2 found:  0.5627824335061296

  regressor      RMSE        R2
0         0  0.000000  0.000000
1     lasso  0.582382  0.042794
2      enet  0.564130  0.101851
3     rfreg  0.399265  0.550104
4    lgbreg  0.408965  0.527980
5    xgbreg  0.399891  0.548692
6    adbreg  0.392567  0.565073
7      breg  0.393599  0.562782

In [32]:
df_results.sort_values('R2', ascending=False)
df_results.to_csv('Score_Accuracy.csv')

In [35]:
df_results.sort_values('R2', ascending=False)

  regressor      RMSE        R2
6    adbreg  0.392567  0.565073
7      breg  0.393599  0.562782
3     rfreg  0.399265  0.550104
5    xgbreg  0.399891  0.548692
4    lgbreg  0.408965  0.527980
2      enet  0.564130  0.101851
1     lasso  0.582382  0.042794
0         0  0.000000  0.000000

In [33]:
def batch_regress22(X_train, y_train, X_test, Y_test, verbose = True):
    df_results = pd.DataFrame(data=np.zeros(shape=(no_regressors,3)), columns = ['regressor','RMSE', 'R2'])
    count = 0
    #count2 = 0
    for key, regressor in regressors.items():
        for key2, grid in grids.items():
            scaler = StandardScaler()
            #selector = feature_selection.RFE(classifier)#implement rfe for each classifier
            pipe = Pipeline([('scale',scaler),('rgs',regressor)])#scale and apply the classifier
            if key is 'adbreg' and key2 is 'adbgrid':
                print(key,key2)           
                rand_search = GridSearchCV(pipe, param_grid=grid, scoring='neg_mean_squared_error',cv=5, verbose=1, n_jobs=-1)
                rand_search.fit(X_train, y_train)
                rmse = rand_search.best_score_
                R2 = rand_search.best_score_
                df_results.loc[count,'regressor'] = key
                df_results.loc[count,'RMSE'] = rmse
                count +=1
                print("Best parameters found: ", rand_search.best_params_)
                print("Lowest RMSE found: ", np.sqrt(np.abs(rand_search.best_score_)))
                preds = rand_search.best_estimator_.predict(X_test)
#                 ft_importance = rand_search.best_estimator_.feature_importances_
                test_rmse = np.sqrt(mean_squared_error(y_test, preds))
                print("Test rmse found: ", test_rmse)
#                 print(ft_importance, "\n\n")
            else:
                pass
    return rand_search

In [34]:
gsearch = batch_regress22(X_train, y_train, X_test, y_test)

adbreg adbgrid
Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed: 32.9min
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed: 109.9min finished

Best parameters found:  {'rgs__learning_rate': 0.01, 'rgs__loss': 'square', 'rgs__n_estimators': 50}
Lowest RMSE found:  0.37926112886334773
Test rmse found:  0.3913686787597944

In [36]:
feature_cols = ind_var.columns[:]
score_feat = pd.DataFrame({'feature':ind_var[ind_var.columns].columns, 'importance':gsearch.best_estimator_.named_steps["rgs"].feature_importances_}).sort_values(by="importance", ascending=False)
score_feat.head()

               feature  importance
35    hosp_count_less1    0.064577
34    mall_count_less1    0.055175
37   resto_count_less1    0.048146
26               Sauna    0.037482
36  school_count_less1    0.036429

In [37]:
topscore_feat = score_feat.sort_values('importance', ascending=False).head(10)

In [38]:
topscore_feat.to_csv('top10scorefeat.csv')
topscore_feat

               feature  importance
35    hosp_count_less1    0.064577
34    mall_count_less1    0.055175
37   resto_count_less1    0.048146
26               Sauna    0.037482
36  school_count_less1    0.036429
38    bank_count_less1    0.035827
3            Longitude    0.034418
47          Cities_Num    0.033255
2             Latitude    0.032046
17              Gazebo    0.031850

In [14]:
df_final.describe().T

,count,mean,std,min,25%,50%,75%,max
Bedrooms,8708.0,1.662265,0.786772,0.000000,1.000000,1.000000,2.000000,6.000000
Baths,8708.0,1.429720,0.763643,1.000000,1.000000,1.000000,2.000000,9.000000
Latitude,8708.0,14.577654,0.720981,1.000000,14.551712,14.570650,14.596275,76.000000
Longitude,8708.0,121.029460,1.445137,1.000000,121.025001,121.047619,121.059898,122.266475
24-hour security,8708.0,0.855535,0.351581,0.000000,1.000000,1.000000,1.000000,1.000000
Alarm System,8708.0,0.715204,0.451343,0.000000,0.000000,1.000000,1.000000,1.000000
Badminton court,8708.0,0.111621,0.314918,0.000000,0.000000,0.000000,0.000000,1.000000
Bar,8708.0,0.103583,0.304736,0.000000,0.000000,0.000000,0.000000,1.000000
Basketball court,8708.0,0.233463,0.423059,0.000000,0.000000,0.000000,0.000000,1.000000
Billiards table,8708.0,0.107258,0.309458,0.000000,0.000000,0.000000,0.000000,1.000000
CCTV,8708.0,0.622531,0.484782,0.000000,0.000000,1.000000,1.000000,1.000000
Clinic,8708.0,0.081649,0.273845,0.000000,0.000000,0.000000,0.000000,1.000000
Clubhouse,8708.0,0.312586,0.463574,0.000000,0.000000,0.000000,1.000000,1.000000
Daycare Center,8708.0,0.135278,0.342040,0.000000,0.000000,0.000000,0.000000,1.000000
Drying Area,8708.0,0.201539,0.401173,0.000000,0.000000,0.000000,0.000000,1.000000
Elevators,8708.0,0.772853,0.419013,0.000000,1.000000,1.000000,1.000000,1.000000
Fire sprinkler system,8708.0,0.532499,0.498971,0.000000,0.000000,1.000000,1.000000,1.000000
Gazebo,8708.0,0.182017,0.385880,0.000000,0.000000,0.000000,0.000000,1.000000
Golf Area,8708.0,0.034221,0.181808,0.000000,0.000000,0.000000,0.000000,1.000000
Helipad,8708.0,0.027561,0.163720,0.000000,0.000000,0.000000,0.000000,1.000000
Intercom,8708.0,0.175586,0.380489,0.000000,0.000000,0.000000,0.000000,1.000000
Jacuzzi,8708.0,0.096808,0.295712,0.000000,0.000000,0.000000,0.000000,1.000000
Laundry Area,8708.0,0.194189,0.395598,0.000000,0.000000,0.000000,0.000000,1.000000
Playground,8708.0,0.367938,0.482272,0.000000,0.000000,0.000000,1.000000,1.000000
Pond,8708.0,0.056500,0.230898,0.000000,0.000000,0.000000,0.000000,1.000000
Pool bar,8708.0,0.093362,0.290956,0.000000,0.000000,0.000000,0.000000,1.000000
Sauna,8708.0,0.101860,0.302482,0.000000,0.000000,0.000000,0.000000,1.000000
Shower rooms,8708.0,0.336472,0.472530,0.000000,0.000000,0.000000,1.000000,1.000000
Sky lounge,8708.0,0.143546,0.350649,0.000000,0.000000,0.000000,0.000000,1.000000
Smoke detector,8708.0,0.389412,0.487645,0.000000,0.000000,0.000000,1.000000,1.000000
Spa,8708.0,0.139757,0.346754,0.000000,0.000000,0.000000,0.000000,1.000000
Swimming pool,8708.0,0.860243,0.346754,0.000000,1.000000,1.000000,1.000000,1.000000
Tennis court,8708.0,0.093707,0.291437,0.000000,0.000000,0.000000,0.000000,1.000000
Theater,8708.0,0.103468,0.304587,0.000000,0.000000,0.000000,0.000000,1.000000
mall_count_less1,8708.0,89.698209,97.943920,0.000000,9.000000,43.000000,163.000000,374.000000
hosp_count_less1,8708.0,16.612081,20.250770,0.000000,0.000000,8.000000,33.000000,81.000000
school_count_less1,8708.0,15.155374,17.366772,0.000000,0.000000,8.000000,27.000000,63.000000
resto_count_less1,8708.0,19.822232,21.897715,0.000000,1.000000,12.000000,34.000000,89.000000
bank_count_less1,8708.0,23.369201,30.376116,0.000000,0.000000,9.000000,42.000000,124.000000
Fitness_Sports Center,8708.0,0.658934,0.474095,0.000000,0.000000,1.000000,1.000000,1.000000
Multi-Purpose Area,8708.0,0.601516,0.489614,0.000000,0.000000,1.000000,1.000000,1.000000
Parking Area,8708.0,0.581649,0.493317,0.000000,0.000000,1.000000,1.000000,1.000000
Entertainment_Game Room,8708.0,0.324759,0.468312,0.000000,0.000000,0.000000,1.000000,1.000000
Study Area_Library,8708.0,0.200390,0.400316,0.000000,0.000000,0.000000,0.000000,1.000000
Business Center_Shops,8708.0,0.324759,0.468312,0.000000,0.000000,0.000000,1.000000,1.000000
Open Space_Parks_Garden_Jogging Path,8708.0,0.537896,0.498590,0.000000,0.000000,1.000000,1.000000,1.000000
Reception_Lobby_Lounge,8708.0,0.729674,0.444154,0.000000,0.000000,1.000000,1.000000,1.000000
Cities_Num,8708.0,4.119660,3.252537,0.000000,1.000000,3.000000,7.000000,9.000000
PricePerSQM,8708.0,166753.348314,75400.734453,26356.589147,107676.976517,153621.097725,216666.666667,397640.350877